/* ===========Login Register===========  */
#loginBody{
    background-color: #ff6666;
}
  
#outerbox{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: white;
    border-radius: 15px;
}

#login{
    background-color: #ff6666;
}

#link{
    color: #ff6666;
    text-decoration: none;
}